<footer>
    <div class="footerText">&copy;2018 Red Carpet Cleaning, LLC. 
            <div class="phone"><img id="phone-icon" src="images/phone-icon.svg" alt="phone phone-icon">
                <p class="phoneText">208.557.3649</p></div>
                <div class="email">
                    <img id="email-icon" src="images/email-icon.svg" alt="email icon">
                    <p class="phoneText">officialrcc@gmail.com</p>
                </div>
    </div>
    
</footer>