<div class="navbar" id="navbar">
    <div class="placeholder">
        <p>208.557.3649</p>
        <div class="fb">
           <a href="https://www.facebook.com/RedCarpetMoments/"> <img src="images/fb-red.svg" alt="facebook logo"></a>
        </div>
        
        
    </div>
 <nav class="main-nav">
            <ul class = "nav-ul">
                <li id ="nav-home" class="nav-item"><a href="../rcc" class="nav-link"> Home</a></li>
                <li id ="nav-schedule"  class="nav-item"><a href="../rcc/residentialSchedule" class="nav-link">Schedule An Appointment</a></li>
                <li id ="nav-services"  class="nav-item"><a href="../rcc/services" class="nav-link">Our Services</a></li>
                <li id ="nav-team"  class="nav-item"><a href="#" class="nav-link">Our Team</a></li>
            </ul>
        </nav>
    </div>
    <div id="sideMenu" class="sideMenu">
            <div id="hamburgerMenu" class="hamburgerMenu" onclick="openSideMenu()">
                <div id="lines">
                    <span class="hamLine" id="navone"></span>
                    <span class="hamLine" id="navtwo"></span>
                    <span class="hamLine" id="navthree"></span>
                </div>
                    <p id="menuText">Menu</p>
                </div>
                
                <div id="side-nav" class="side-nav">
                        <a href="../rcc" class="side-nav-link"> Home</a>
                        <a href="../rcc/residentialSchedule" class="side-nav-link">Schedule An Appointment</a>
                        <a href="../rcc/services" class="side-nav-link">Our Services</a>
                        <a href="#" class="side-nav-link">Our Team</a>
                </div>
           
        </div>  