<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/main.css">
    <title>Red Carpet Cleaning | Home </title>
    
</head>
<body class="body" id="home">
         
     <% include partials/navigation %>
    
     <div class="pimg1">
        <div class="bannerContainer border">
            <div class="ptext">
                Welcome Home
            </div>
            <div class="bannerText">
                Red Carpet Cleaning delivers a red-carpet experience. 
            </div>
            <a class="btn btn-main" href="../rcc/residentialSchedule">My Own Home</a>
            <a class="btn btn-main" href="#">Commercial </a>
        </div>
        <a href="#one" class="lMore">Learn More</a>
    </div>


    <section class="section section-light" id="one">
        <h2>Why do people LOVE RCC?</h2>
        <img id ="fiveStarImg" src="images/SVG/5star.svg" alt="five stars">
        <p>Don't take our word for it, check out or reviews on facebook :)          
        </p>
        <div class="fbPosts">
            <div class="fb"><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FEva.Sherrod%2Fposts%2F10155280398826722%3A0&width=350&show_text=false&height=446&appId" width="350" height="446" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></div>
            <div class="fb"><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D518990591819997%26id%3D100011271816080%26substory_index%3D0&width=350&show_text=false&height=369&appId" width="350" height="369" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></div>
            <div class="fb"><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fannababina94%2Fposts%2F10215867615710283%3A0&width=350&show_text=false&height=427&appId" width="350" height="427" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></div>       
            <div class="fb"><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fshelly.s.stevenson%2Fposts%2F10157056726313835%3A0&width=350&show_text=false&height=369&appId" width="350" height="369" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></div>
            <div class="fb"><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fnicci.renouard%2Fposts%2F10213689896636165%3A0&width=350&show_text=false&height=369&appId" width="350" height="369" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></div>
            <div class="fb"><iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fhillary.prachniak%2Fposts%2F10101478569327835%3A0&width=350&show_text=false&height=330&appId" width="350" height="330" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></div>
        </div>
    </section>
    <!-- <div class="pimg2">
            <div class="ptext">
                <div class="border">
                    Image 2 text
                </div>
            </div>
        </div> -->
        <section class="section section-dark">
            <div class="ourteam">
                <h2>Our Team</h2>
            <div class="profileContainer">
                <div class="profile">
                    <img class="profilePic" src="images/kyleP.png" alt="Kyle profile pic">
                    <div class="profileText">
                        <h3>Kyle</h3>
                        <p>When not totally immersed in cleaning carpets, you might find Kyle running up the side of a mountain.
                            He loves the crisp morning air, which is why he is so passionate about having clean carpets!
                        </p>
                    </div>
                </div>
                <div class="profile">
                        <img class="profilePic" src="images/devingP.png" alt="devin profile pic">
                        <div class="profileText">
                            <h3>Devin</h3>
                            <p>Devin also loves being out-doors. He's a student up here at BYU-I studying Psychology. He has
                                a knack for detail - making him one of the most efficient carpet cleaners on the planet!
                            </p>
                        </div>
                </div>
                <div class="profile">
                    <img class="profilePic" src="images/ericP.png" alt="eric profile pic">
                    <div class="profileText">
                        <h3>Eric</h3>
                        <p>Eric is also a student at BYU-I studying Web Development. When he's not working, you'll find him
                            playing outside with his family or reading the next Brandon Sanderson book. 
                        </p>
                    </div>
                </div>
                </div>
            </div>
                
        </section>

       <% include partials/footer %>
</body>
<script src="script/main.js"></script>               

</html>