<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/main.css">
    <title>Red Carpet Cleaning</title>
</head>
<body onload="createCalendar()">
  

    <div class="navbar" id="navbar">
        <p class="placeholder"></p>
        
        <nav class="main-nav">
            <ul class = "nav-ul">
                <li class="nav-item"><a href="../rcc" class="nav-link"> Home</a></li>
                <li class="nav-item"><a href="residentialSchedule" class="nav-link">Schedule An Appointment</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Our Services</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Our Team</a></li>
            </ul>
        </nav>
    </div>
    <div id="sideMenu" class="sideMenu">
            <div id="hamburgerMenu" class="hamburgerMenu" onclick="openSideMenu()">
                <div id="lines">
                    <span class="hamLine" id="navone"></span>
                    <span class="hamLine" id="navtwo"></span>
                    <span class="hamLine" id="navthree"></span>
                </div>
                    <p id="menuText">Menu</p>
                </div>
                
                <div id="side-nav" class="side-nav">
                        <a href="" class="side-nav-link"> Home</a>
                        <a href="residentialSchedule.ejs" class="side-nav-link">Schedule An Appointment</a>
                        <a href="#" class="side-nav-link">Our Services</a>
                        <a href="#" class="side-nav-link">Our Team</a>
                </div>
           
        </div>  
    
     <div class="scheduleHome">
        <div class="scheduleBanner">
            <div class="ptext">
                Schedule
            </div>
            <div class="bannerTextSchedule" >
               *Choose an available time slot, and fill out how many bedrooms you would like us to clean for you. We will send you an email with an automatic quote. 
            </div>
        </div>
        <div id="calendar">
            <div id ="month" class="monthHead">
               
            </div>
            <div class="weekDays">
                <div class="weekday sunday">Sun</div>
                <div class="weekday monday">Mon</div>
                <div class="weekday tuesday">Tue</div>
                <div class="weekday wednesday">Wed</div>
                <div class="weekday thursday">Thur</div>
                <div class="weekday friday">Fri</div>
                <div class="weekday saturday">Sat</div>
            </div>
            <div class="days">
                <div class="row">
                    <div class="day"></div>
                    <div class="day"></div>
                    <div class="day"></div>
                    <div class="day"></div>
                    <div class="day"></div>
                    <div class="day"></div>
                    <div class="day"></div>
                </div>
                <div class="row">
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                </div>
                <div class="row">
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                </div>
                <div class="row">
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                </div>
                <div class="row">
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                </div>
            </div>
        </div>

    </div>


    <section class="section section-light" id="one">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore nam aspernatur ipsum praesentium, aliquam quas quam molestias doloribus dignissimos impedit sapiente architecto corporis pariatur, animi dolores excepturi eveniet, sunt repudiandae expedita quos sit placeat obcaecati incidunt maxime. Placeat deserunt sit velit necessitatibus officia consequatur totam ullam. Assumenda harum corrupti facilis ea voluptatibus veniam minus nesciunt fuga vero doloribus quaerat corporis, porro accusantium. Possimus veniam porro nobis quis esse dolor fugiat accusantium expedita repellendus velit ipsam modi odit blanditiis eveniet voluptatem distinctio maxime illum unde placeat libero repudiandae quia provident, tenetur alias. Perferendis, quae? Quae, deserunt tempora omnis error laboriosam magnam nam porro. Odio earum ab eveniet? Tempora at nemo assumenda autem debitis ut, sit ullam nulla. Eaque quis voluptatum omnis officia architecto consequatur voluptates assumenda dolorem repellat expedita vitae deleniti facilis vel ex qui, illum nam, sed dolorum eos minus veritatis cupiditate. Sunt in et officiis assumenda. Error aliquam, nisi odit alias at, totam distinctio cupiditate, ratione porro rem reiciendis tenetur! Ea architecto corporis voluptatem, hic facere, voluptate placeat aliquam eligendi omnis quis accusantium vitae quo dolores consectetur, earum rem labore! Suscipit corrupti dolores enim ut, voluptas nisi error placeat ipsam totam molestias ea dignissimos nesciunt, accusamus ad laborum minima iste magnam possimus tempora maxime! Ipsa ratione quod officia rem itaque maxime. Rerum eligendi, optio animi est explicabo enim incidunt deserunt ratione autem sunt. Repellat, quis minus explicabo incidunt molestias laudantium necessitatibus, vitae quisquam ex error doloribus deleniti quod temporibus doloremque dignissimos facilis? Ad quisquam tempora consequatur quasi accusamus aliquid fugit voluptatum dignissimos dolorem nemo, optio aut illum eos eum voluptate, quam nostrum ratione! Soluta qui a esse doloremque alias tenetur fugiat ab quo, sint voluptate tempora non possimus, fuga iure modi quidem cupiditate ratione nemo deserunt harum mollitia nihil. Sapiente, veniam. At asperiores, harum natus tempore fugiat nobis cupiditate porro provident eligendi earum voluptatem explicabo aspernatur placeat quas et, dicta beatae nostrum distinctio ad, reprehenderit recusandae cumque voluptatibus ex! Ea voluptatum quos aperiam laboriosam corrupti ipsum mollitia excepturi officia sequi. Nisi quae dicta voluptatem eum alias distinctio, accusantium quaerat doloribus molestiae. Ab dolorum, dolorem incidunt nobis provident ducimus, vero eaque quas doloremque distinctio illo expedita laboriosam error accusantium? Necessitatibus maiores odit illo aspernatur debitis a voluptatibus, deleniti voluptatem harum consequatur numquam tempore vitae, qui laudantium molestias ullam doloremque fugiat facere perferendis praesentium! Tenetur iure adipisci esse! Deserunt eligendi deleniti et aut. Quisquam quos officiis dolorem a nesciunt repellat autem soluta, voluptatem sunt! Similique modi dolore officia expedita omnis libero rem ea, suscipit cumque culpa quis fuga quas quia adipisci qui amet nisi laboriosam consequuntur recusandae! Qui nihil atque, architecto dolores, perspiciatis eos quidem reiciendis veniam hic rem officiis libero sit ducimus! Dicta iusto quos consectetur illum officia vel dignissimos quae dolorum provident impedit, ratione rem, voluptates esse aut pariatur nulla, praesentium tenetur? Saepe aperiam, quis laborum et cum laboriosam. Dolore animi fugiat optio, enim doloribus itaque velit nostrum id similique sed sapiente labore debitis tempore, ab veniam quos cum provident accusamus voluptates. Perferendis non quis officiis atque sequi cupiditate?
    </section>
    <!-- <div class="pimg2">
            <div class="ptext">
                <div class="border">
                    Image 2 text
                </div>
            </div>
        </div> -->
        <section class="section section-dark">
                <h2>Section 2</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Quia esse facere asperiores laborum porro nobis voluptas, 
                    blanditiis sint magni illo!
                </p>

                <div class="pimg3">
                        <div class="ptext">
                            <div class="border">
                                Image 2 text
                            </div>
                        </div>
                    </div>
</body>
<script src="script/main.js"></script>               

</html>