<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/main.css">
    <title>Red Carpet Cleaning</title>
</head>
<body onload="createCalendar()">
  

    <div class="navbar" id="navbar">
        <p class="placeholder"></p>
        
        <nav class="main-nav">
            <ul class = "nav-ul">
                <li class="nav-item"><a href="../rcc" class="nav-link"> Home</a></li>
                <li class="nav-item"><a href="../rcc/residentialSchedule" class="nav-link">Schedule An Appointment</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Our Services</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Our Team</a></li>
            </ul>
        </nav>
    </div>
    <div id="sideMenu" class="sideMenu">
            <div id="hamburgerMenu" class="hamburgerMenu" onclick="openSideMenu()">
                <div id="lines">
                    <span class="hamLine" id="navone"></span>
                    <span class="hamLine" id="navtwo"></span>
                    <span class="hamLine" id="navthree"></span>
                </div>
                    <p id="menuText">Menu</p>
                </div>
                
                <div id="side-nav" class="side-nav">
                        <a href="../rcc" class="side-nav-link"> Home</a>
                        <a href="../rcc/residentialSchedule.ejs" class="side-nav-link">Schedule An Appointment</a>
                        <a href="#" class="side-nav-link">Our Services</a>
                        <a href="#" class="side-nav-link">Our Team</a>
                </div>
           
        </div>  
    
     <div class="scheduleHome">
        <div class="scheduleBanner">
            <div class="ptext">
                Schedule
            </div>
            <div class="bannerTextSchedule" >
               *Choose an available time slot, and fill out how many bedrooms you would like us to clean for you. We will send you an email with an automatic quote. 
            </div>
        </div>
        <div id="calendar">
            <div id ="month" class="monthHead">
               
            </div>
            <div class="weekDays">
                <div class="weekday sunday">Sun</div>
                <div class="weekday monday">Mon</div>
                <div class="weekday tuesday">Tue</div>
                <div class="weekday wednesday">Wed</div>
                <div class="weekday thursday">Thur</div>
                <div class="weekday friday">Fri</div>
                <div class="weekday saturday">Sat</div>
            </div>
            <div class="days">
                <div class="row">
                    <div class="day"></div>
                    <div class="day"></div>
                    <div class="day"></div>
                    <div class="day"></div>
                    <div class="day"></div>
                    <div class="day"></div>
                    <div class="day"></div>
                </div>
                <div class="row">
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                </div>
                <div class="row">
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                </div>
                <div class="row">
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                </div>
                <div class="row">
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                        <div class="day"></div>
                </div>
            </div>
        </div>

        <div class="dailySchedule" id="dailySchedule">
            <h3>Available times for <span id="scheduleDate"></span></h3>
            <p>*available times appear green</p>
            <div class="timeSlot available"><p class="hour">9:00am</p></div>
            <div class="timeSlot booked "><p class="hour">10:00am</p></div>
            <div class="timeSlot booked"><p class="hour">11:00am</p></div>
            <div class="timeSlot booked"><p class="hour">12:00pm</p></div>
            <div class="timeSlot booked"><p class="hour">1:00pm</p></div>
            <div class="timeSlot booked"><p class="hour">2:00pm</p></div>
            <div class="timeSlot booked"><p class="hour">3:00pm</p></div>
            <div class="timeSlot booked"><p class="hour">4:00pm</p></div>
        </div>
    </div>


    <section class="section section-light" id="one">
        <h3>Please fill out the form to get a custom estimate for your home!</h3>
            <div class="container">
                    <form id ="estimateForm" name="estimateForm" enctype="multipart/form-data" action="form_submit">
                  
                      <label for="fname">First Name</label>
                      <input type="text" id="fname" name="firstname" placeholder="Your name..">
                  
                      <label for="lname">Last Name</label>
                      <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                      <label for="lname">Email</label>
                      <input type="email" id="email" name="email" placeholder="Your email..">

                <div class="roomSelect">
                    <div class="selection">
                        <label for="livingRoom">Number of Living Rooms</label>
                        <select id="livingRoom" name="livingRoom">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2 ">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="5">6</option>
                            <option value="5">7</option>
                        </select>
                    </div>
                    <div class="selection">
                      <label for="bedRoom">Number of Bed Rooms</label>
                      <select id="bedRoom" name="bedRoom">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2 ">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="5">6</option>
                        <option value="5">7</option>
                      </select>
                    </div>

                      <div class="selection">
                        <label for="hallway">Number of Hallways</label>
                        <select id="hallway" name="hallway">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2 ">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="5">6</option>
                            <option value="5">7</option>
                        </select>
                      </div>

                      <div class="selection">
                        <label for="stairCase">Number of Stair Cases</label>
                        <select id="stairCase" name="stairCase">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2 ">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="5">6</option>
                            <option value="5">7</option>
                        </select>
                      </div>
                    </div>
                  
                      <label for="subject">Comments / Questions </label>
                      <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea>
                      <input type="submit" value="Submit">
                  
                    </form>
                  </div> 
    </section>
    <!-- <div class="pimg2">
            <div class="ptext">
                <div class="border">
                    Image 2 text
                </div>
            </div>
        </div> -->
        <section class="section section-dark">
                <h2>Section 2</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Quia esse facere asperiores laborum porro nobis voluptas, 
                    blanditiis sint magni illo!
                </p>

                <div class="pimg3">
                        <div class="ptext">
                            <div class="border">
                                Image 2 text
                            </div>
                        </div>
                    </div>
</body>
<script src="../script/main.js"></script>               

</html>